Package: com.octodev.luna
Name: Nebula
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Safari webpage darkmode.
Maintainer: OctoDev Team
Author: OctoDev Team
Section: Tweaks
