/* Universal */
* {
	background: NEBULA_DARK !important;
	background-color: NEBULA_DARK !important;
	color: NEBULA_TEXT !important;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.65) !important;
}

:link, :link * {color: #55C8FF !important}
:visited, :visited * {color: #FFE155 !important}

::selection {
	color: #0DD6EF !important;
	background: #FF5573 !important;
}

@media screen and (max-width: 1000px) {
	body, #site {
		overflow-x: hidden;
	}

	.row .col {
		width: 100%;
		float: none;
	}
}

.panel-body {
	background-color: NEBULA_DARK !important;
}

body panel panel-body {
	background-color: NEBULA_DARK;
}

img {
	position:relative;
	background:#fff0!important;
}

img *, img~* *, img~* {
	background:#fff0!important;
}

code, pre, code *, pre *, textarea, textarea *, table, table *, ul, ul *, [type=text], [type=text] * {
	background: NEBULA_DARKER !important;
	background-color: NEBULA_DARKER !important;
	text-shadow: none!important;
}
/* End Universal */

/* Google */
.mnr-c *:not(.kp-header):not(.CNf3nf):not(.DKfgue), .xICLNb *, .card *, .dRYYxd, .gBCQ5d, .gBCQ5d *, .A7Yvie *, .UUbT9 ul * {
	background:#fff0 !important;
}

.SSH64d{
	background:rgba(0, 0, 0, 0.5)!important;
}

.mnr-c, .xICLNb, .card, .card ul, .UUbT9 ul, .A7Yvie {
	background:NEBULA_DARKER !important;
}

.qzEoUe {
	color:#12c14a!important;
}

.Tg7LZd {
	background:#3b78e7!important;
}

.kp-header {
	background:#68752F!important;
}

.HK0d3e {
	background: url(/images/nav_logo289_hr.webp) no-repeat!important;
	background-position: 0 -374px!important;
	background-size: 167px!important;
}

.Is2Q0d {
	background: url(/images/nav_logo289_hr.webp) no-repeat!important;
	background-position: 0 -374px!important;
	background-size: 167px!important;
}
/* End Google */

/* StackOverflow */
.str, .tag, .lit, .pl-s, .pl-pds, .pl-v {
    color:#d84c4c!important;
}

.kwd, .dec, .pl-c1 {
    color:#26c9e4!important;
}

.atv, .typ, .pl-en, .pl-ent {
    color:#0fbd9e!important;
}

.atn, .pl-k {
    color:#E64320!important;
}

.current {
	background:#fff0 !important;
}

.nav li.current a {
	background:#e47a25!important;
	color:NEBULA_TEXT!important;
	text-shadow:none!important;
}

.com, .pl-c {
    color:#858c93!important;
}

.line {
    color:NEBULA_TEXT!important;
}

.pl-smi, .pl-e {
    color:#969fff!important;
}
/* End StackOverflow */

/* Packix */
.package-container panel a panel-body, .modern panel-body {
	background:NEBULA_DARKER !important;
	box-shadow:none!important;
}

.package-container panel a panel-body * {
	background:#fff0 !important;
	color:NEBULA_TEXT!important;
}

.modern panel-body *, .review-list li * {
	background:#fff0 !important;
}

.review-list li {
	background: NEBULA_DARK !important;
}

.review-rating, .review-rating *, .rating-stats>tbody>tr>td, .rating-stats>tbody>tr>td * {
	color: #eebd10!important;
}

.changes-more>div {
	background: linear-gradient(90deg,#30c381,#089e46)!important;
	background-image: linear-gradient(90deg, rgb(48, 195, 129), rgb(8, 158, 70))!important;
	background-clip:text!important;
	-webkit-background-clip:text!important;
	text-shadow:none!important;
}
/* End Packix */

/* Overriding !importants */
.w3-white, .bg-white, .white, .bg-light {
	background-color: NEBULA_DARK !important;
}

.bg-gray, .w3-gray, .gray {
    background-color: NEBULA_DARKER !important;
}

.black-text {
    color: NEBULA_TEXT !important;
}
/* End Overriding !importants */
