html, body, div, span, ul, li, table, tr, td,nav, h1, h2, h3, h4, h5, h6, p, header, section, code, button, font, dt, dd, dl, article {
  				color: white !important;
  				border-color: darkgrey !important;
  				background: rgb(35,35,35) !important;
  				background-color: rgb(35,35,35) !important;
			}

			code, pre {
  				color: rgb(80, 200, 70) !important;
  				background-color: rgb(28,28,28) !important;
			}

			a {
  				color: rgb(30,158,191) !important;
  				background: rgb(35,35,35) !important;
			}
.navbar {
	background-color: rgb(35,35,35) !important;
}
