<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>items</key>
		<array>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>footerCellClass</key>
				<string>SQDPrefBannerView</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>Nebula</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.octodev.nebula</string>
				<key>key</key>
				<string>enabled</string>
				<key>label</key>
				<string>Enable</string>
				<key>PostNotification</key>
				<string>com.octodev.nebula-prefschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string>General</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.octodev.nebula</string>
				<key>key</key>
				<string>hapticEnabled</string>
				<key>label</key>
				<string>Haptic on Toggle</string>
				<key>PostNotification</key>
				<string>com.octodev.nebula-prefschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSSwitchCell</string>
				<key>default</key>
				<true/>
				<key>defaults</key>
				<string>com.octodev.nebula</string>
				<key>key</key>
				<string>safariDarkmode</string>
				<key>label</key>
				<string>Use safari darkmode</string>
				<key>PostNotification</key>
				<string>com.octodev.nebula-prefschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.octodev.nebulacolors</string>
					<key>key</key>
					<string>backgroundColor</string>
					<key>fallback</key>
					<string>#1D1D1D</string>
					<key>PostNotification</key>
					<string>com.octodev.nebula-colorchanged</string>
					<key>alpha</key>
					<false/>
				</dict>
				<key>label</key>
				<string>Background Color</string>
				<key>PostNotification</key>
				<string>com.octodev.nebula-prefschanged</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>PFSimpleLiteColorCell</string>
				<key>libcolorpicker</key>
				<dict>
					<key>defaults</key>
					<string>com.octodev.nebulacolors</string>
					<key>key</key>
					<string>textColor</string>
					<key>fallback</key>
					<string>#ededed</string>
					<key>PostNotification</key>
					<string>com.octodev.nebula-colorchanged</string>
					<key>alpha</key>
					<false/>
				</dict>
				<key>label</key>
				<string>Text Color</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSGroupCell</string>
				<key>label</key>
				<string></string>
				<key>footerText</key>
				<string>A list of sites to always load into dark mode</string>
			</dict>
			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>cellClass</key>
				<string>SNActionCell</string>
				<key>label</key>
				<string>Enabled Sites</string>
				<key>detail</key>
				<string>NBLWhitelistController</string>
			</dict>

			<dict>
				<key>cell</key>
				<string>PSLinkCell</string>
				<key>bundle</key>
				<string>AppList</string>
				<key>isController</key>
				<string>1</string>
				<key>label</key>
				<string>Disabled apps</string>
				<key>icon</key>
				<string></string>
				<key>ALSettingsKey</key>
				<string>disabledApps</string>
				<key>ALSettingsPath</key>
				<string>/var/mobile/Library/Preferences/com.octodev.nebula-apps.plist</string>
				<key>ALSingleEnabledMode</key>
				<string>0</string>
				<key>ALSettingsKeyPrefix</key>
				<string></string>
				<key>ALChangeNotification</key>
				<string>com.octodev.nebula-appschanged</string>
				<key>ALSectionDescriptors</key>
				<array>
					<dict>
						<key>cell-class-name</key>
						<string>ALSwitchCell</string>
						<key>predicate</key>
						<string>isSystemApplication = TRUE</string>
						<key>icon-size</key>
						<string>29</string>
						<key>suppress-hidden-apps</key>
						<string>1</string>
						<key>title</key>
						<string>System Apps</string>
					</dict>
					<dict>
						<key>cell-class-name</key>
						<string>ALSwitchCell</string>
						<key>predicate</key>
						<string>isSystemApplication = FALSE</string>
						<key>icon-size</key>
						<string>29</string>
						<key>suppress-hidden-apps</key>
						<string>1</string>
						<key>title</key>
						<string>User Apps</string>
					</dict>
				</array>
			</dict>
		</array>
		<key>title</key>
		<string>Nebula</string>
	</dict>
</plist>
